* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #995ff1;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #78ed93;
  /* align-items: baseline; */
  height: 20%;
}
.head-title {
  font-family: Lato;
  margin: 1%;
  color: #171615;
  background-color: transparent;
}
.head-btn {
  width: 100px;
  height: 2.5rem;
  margin: 1%;
  background-color: #eee2dc;
  border: none;
  outline: none;
  border-radius: 20px;
}
.card-body {
  text-align: center;
  color: rgb(34, 34, 26);
  
}
.card-img-top {
  width: 100%;
  border-radius: 20px;
}
.users-space {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.main {
  border: 2px solid #ffffff;
  border-radius: 20px;

}